/* Remove styles on Link elements as required */
a.clear-link, a.clear-link:hover, a.clear-link:active, a.clear-link:visited {
    text-decoration: none !important;
    color: inherit;
    border: none !important;
}
